/* set the body to exactly fill the window, and no more */
html, body {
	height:100%;
	margin: 0;
	overflow:hidden;
}
/* reset header margins globally so they aren't offset */
h1, h2 {
	margin: 0px;
}
/* set div dimensions to include padding and borders */
div {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
/* set links to be the same regardless of visited/not-visited */
a:link, a:visited {
	color: #00F;
}
/* bleh */
input[type=phone] {
	padding: 1px 0px;
}
textarea {
	resize: vertical;
	padding: 2px 2px 1px 1px;
}
/* top navigation bar style */
.top_bar {
	position: relative;
	width: 100%;
	height: 10%;
	padding: 10px;
	background-color: #461D7C;
	color: #FFF;
}
/* style elements of navigation bar to center vertically */
.top_bar > * {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
/* side navigation bar style */
.left_bar {
	width: 20%;
	height: 90%;
	padding: 10px;
	float: left;
	border: 1px solid black;
}
/* make sure content floats in place and is sized properly */
.content {
	width: 80%;
	height: 90%;
	padding: 10px;
	float: left;
	overflow: auto;
	border: 1px solid black;
}
/* custom link for nav_button */
.nav_button {
	text-decoration: none;
}
.nav_button:link, .nav_button:visited {
	color: #EEE;
}
.nav_button:hover {
	color: #FFF;
}
/* icon area */
.top_icons {
	right: 20px;
}
.icon {
	width: 25px;
	cursor: pointer;
}
.popup {
	background-color: #EEE;
	padding: 4px;
	word-wrap: break-word;
	border: 1px solid black;
	position: absolute;
	width: 20%;
	right: 22px;
	top: 100%;
	transform: none;
	color: black;
	display: none;
}
/* feedback */
.submit_error {
	color: red;
}
.submit_success {
	color: green;
}

