# abet1.config
# This file is for the configuration of the ABET1 application. It should be
# installed in /etc/abet1.

# database configuration: the schema from db/schema.sql should be loaded into
# a database named `abet1`; These options specify database user/password
DATABASE_HOST=localhost
DATABASE_USER=abet1_functionality
DATABASE_PASSWD=60101746d27666b86ad1392bf46845c6
